/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
     width: 80%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 1;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    overflow: hidden;
 }
}